<html >
<body>

<div ng-app="formExample1">
<div ng-controller="ExampleController1">
  <ng-form novalidate class="simple-form1">
    Id: <input type="text" ng-model="user1.id_compte" /><br />
    plafond: <input type="text" ng-model="user1.plafond " /><br />
    montant: <input type="text" ng-model="user1.montant" /><br />
    date: <input type="text" ng-model="user1.datecreation" /><br />
   
    
       <input type="submit" ng-click="saveCompte(user)" value="Save" />
  </ng-form>
  
<input type="button" ng-click="asyncLoadCompte()" value="Load Compte" />

<table>
<thead> 
<tr>
    <th>id_compte</th>
    <th>plafond</th>
    <th>montant</th>
    <th>datecreation</th>
   
</tr>
</thead>
<tbody>
<tr ng-repeat="e in compte">
    <td>{{ e.id_compte }}</td>
    <td>{{ e.plafond }}</td>
    <td>{{ e.montant }}</td>
    <td>{{ e.datecreation }}</td>
   
 </tr>
</tbody>
</table>   
</div>
</div>

<script src="angular.min.js"></script>
<script src="appcomptepel.js"></script>
</body>
</html>